*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-config.php
.htaccess
php.ini
wp-content/blogs.dir/
wp-content/node_modules
wp-content/node_modules/*
wp-content/uploads/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/node_modules/*
error_log
robots.txt
wp-snapshots/*
wp-admin/*
wp-includes/*
cgi-bin/*
.well-known/*